# =========================================
# MONOREPO
# =========================================

node_modules
.pnpm-store
.turbo

# =========================================
# NEXT.JS
# =========================================

.next
out
build
dist

# =========================================
# LOGS
# =========================================

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================
# ENV FILES
# =========================================

.env
.env.*
!.env.example

# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# IDE
# =========================================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.idea

# =========================================
# TESTS
# =========================================

coverage

# =========================================
# TYPESCRIPT
# =========================================

*.tsbuildinfo

# =========================================
# TEMP FILES
# =========================================

tmp
temp
.cache

# =========================================
# PRISMA
# =========================================

prisma/dev.db
prisma/dev.db-journal